// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Colors really used :
$green: #007E64;
$green-light :#E1FFD3;
$orange: #FF914D;
$medium-yellow: #FFE88C;
$light-yellow: #FFECA0;
$dark-yellow:#FFCC00;
