<div class="row">
  <div class="col-8 text-center">
    <h1 class="my-5">Me contacter</h1>
      <div class="my-3 mx-5 text-center" >
        <h3> Vous souhaitez en savoir plus avant de vous lancer ? </h3>
        <p> N’hésitez pas à me contacter par téléphone ou par mail afin de parler de vos problématiques et de vos envies concernant mes accompagnements.  Je me ferais un plaisir de répondre à vos questions et vous conseiller la prestation qui vous conviendra le mieux.  Par téléphone, au 06 15 750 500  Par mail, à l’adresse suivante : equilibreetmoi.contact@gmail.com </p>
          <div class="my-5 pb-5">
            <h4>Bon à savoir </h4>
            <p>Remplir le formulaire de demande de rendez-vous ne vous engage à rien. Il me permet de prendre connaissance de vos besoins afin de vous proposer l’accompagnement qui vous conviendra le mieux. Si je ne suis pas en mesure de vous accompagner, je vous redirigerai au mieux vers des collègues spécialisé.es (ex: femmes enceintes, pathologie cardiaques ou autres...) dSentez-vous libre de me poser toutes vos questions avant de commencer un accompagnement !   En vous lancant, vous vous engagez envers vous pour un mieux être global et durable. Cela demandera quelques changements d’habitudes et remises en question mais je serai là pour vous y aider jour après jour.   Prêt.e à essayer ? </p>
          </div>
      </div>
      <div>
        <%= link_to "Je souhaite remplir le formulaire de contact", prestations_path, class:"button-orange" %>
      </div>
  </div>

  <div class="col-4 banner ">
    <%= image_tag "contact-img.jpeg", alt: "me-contacter", class:"banner-contact"%>
  </div>
 </div>
