<div>
  <div class="mt-0 banner">
    <%= image_tag "b-home2.jpeg", alt: "b-home", class:"banner-home"%>
    <h1 class="banner-home-text">"Donne à tes rêves la force d'exister"</h1>
  </div>

  <div class="container my-5">
    <h2 class="text-center" >Mon histoire</h2>
      <div class="row justify-content-between my-4">
        <div class="col-4">
          <%=image_tag "b-home2.jpeg", alt: "b-home", class:"img-thumbnail"%>
        </div>
        <div class="col-8">
          <p class="text-align-right">
            J’ai 60 ans, je suis maman de trois grandes filles et passionnée par le mouvement, le sport et l’humain depuis toujours.
            Au fil de ma vie personnelle et professionnelle, j’ai traversé plusieurs épreuves : un licenciement, des problèmes de santé, des difficultés personnelles. À ces moments-là, j’ai été accompagnée, soutenue, aidée. Ces expériences ont profondément transformé ma vision de la vie et de l’accompagnement.
            Aujourd’hui, j’ai à cœur de transmettre à mon tour et de soutenir les personnes qui traversent des périodes de déséquilibre, de fatigue ou de perte de repères, pour retrouver un chemin de sérénité, de vitalité et de confiance.
          </p>
        </div>
      </div>
      <div class="text-center mt-5">
        <h2 >Mon parcours & mes formations</h2>
         <p class="text-center mt-4">Issue du milieu sportif, j’ai toujours aimé bouger, me dépasser et accompagner les autres dans leur évolution.
          <p class="mb-5 mx-5 text-center"> Actuellement professeure de tennis, j'ai également exercé pendant 10 ans comme AESH (Accompagnante d'enfants en situation de handicap), un métier profondément humain, qui a renforcé mon écoute, ma patience et mon sens de l’accompagnement.
          </p>

          <div class="row justify-content-around ">
            <div class="col-3 background-formation ">
              <div>
                <p>Études universitaires en STAPS</p>
                <p class="text-right"> Master 2 en performance sportive</p>
                <p>Diplôme d’État Supérieur (DES) de tennis</p>
                <p>Compétitrice engagée (Championnats de France à Roland-Garros)</p>
                <p> <strong>Objectif sportif : Championnat du monde – mars 2026</strong></p>
              </div>
            </div>
              <div class="col-6 background-formation">
                <div>
                  <p>
                  Formation de conseillère en nutrition - Ecole Française
                  </p>
                  <p>
                  Formation Conseillère en Nutrition – École 5.3 avec le Dr Yann Rougier (Bloc 1 – Nutrition & Diététique)
                  </p>
                  <p>
                  Formation (Bloc 2 - Gestion du stress & préparation mentale – École 5.3)
                  </p>
                  <p>
                  Formation Troubles Musculo-Squelettiques (TMS) – Sylvère Caron
                  </p>
                  <p> <strong>Mon approche est fondée sur les outils issus des neurosciences appliquées et sur la Méthode des 5 Facteurs du Vivant du Dr Yann Rougier.</strong> </p>
                </div>
              </div>
          </div>
      </div>

      <div class="text-center my-5">
        <h2>Ce que j'ai à coeur de vous transmettre</h2>
        <p class="text-center my-4">
          Ma mission est d’accompagner les femmes de 40 à 60 ans, désireuses de s’alléger :
          de leurs kilos,
          de leur stress ( pensées parasites, état émotionnel négatif)
          de leur fatigue, douleurs
          pour retrouver un équilibre durable, de la sérénité, de la vitalité, de la joie de vivre et une harmonie corps–esprit.
        </p>

        <p class=" text-center">Tout ce qui est vivant et humain : respire, se nourrit, se protège, pense, ressent des émotions.
        C’est en rééquilibrant ces dimensions — les 5 facteurs du vivant — que des transformations profondes et durables deviennent possibles.</p>
      </div>

      <div class="container text-center my-5">
        <%= link_to "En savoir plus", prestations_path, class:"button-orange" %>
      </div>
  </div>

</div>
