<div >
  <div class="card" >
   <%= image_tag "b-home.jpeg", alt: "b-home", class:"card-img"%>
   <h1 class="card-img-overlay">"Donne à tes rêves la force d'exister"</h1>
  </div>

  <div class="container">
    <p>Find me in app/views/pages/contact.html.erb</p>
   <%= link_to "prendrerdv", prendrerdv_path %>
  </div>
</div>
