<div>
  <div class="mt-0 banner">
    <%= image_tag "b-home2.jpeg", alt: "b-home", class:"banner-home"%>
    <h1 class="banner-home-text">"Donne à tes rêves la force d'exister"</h1>
  </div>

  <div class="container mt-5">
    <h2 class="text-center" >Mon histoire</h2>
      <div class="row dflex justify-content-center">
        <div class="col-6 my-5">
         <h3>De l'épreuve à la transmission</h3>
          <p class="mt-2">
            J'ai 60 ans, je suis maman de trois filles et, depuis toujours, je suis passionnée par le mouvement et l'incroyable potentiel humain.
            Mon chemin n'a toutefois pas toujours été linéaire. </p>

            <p>Comme vous, j'ai traversé des tempêtes : licenciement économique, soucis de santé, épreuves personnelles. Si à chaque fois, j'ai eu la chance d'être soutenue et accompagnée, ces étapes de vie ont progressivement forgé  ma conviction : <strong>le déséquilibre n'est pas une fatalité, c'est une invitation à se retrouver.</strong>
            </p>

           <p>Aujourd'hui, mon moteur est de vous transmettre les clés qui m'ont permis de retrouver sérénité et énergie, pour qu'à votre tour que vous puissiez reprendre les rênes de votre vie.
          </p>
        </div>
        <div class="col-3 mt-4">
          <%=image_tag "vero.jpg", alt: "b-home", class:" imgV  "%>
        </div>
      </div>
      <div class="mt-5 row dflex justify-content-center">
        <div class="col-6 ">
            <h3 >Mon Parcours : L'exigence du sport, la douceur de l'humain</h3>
            <p class="mt-2">Issue du sport de haut niveau, j’ai appris la discipline et le dépassement de soi, mais aussi l’importance fondamentale de l’équilibre global.
               <p> <strong>L’expertise du mouvement : </strong> Master 2 en performance sportive et Professeure de tennis (DES). Je continue d'ailleurs de vibrer sur le terrain avec un objectif de Championnat du Monde en mars 2026.</p>
               <p> <strong>L’écoute du cœur : </strong>Pendant 10 ans, j'ai été AESH (Accompagnante d'enfants en situation de handicap). Cette expérience a affiné ma patience, mon sens de l'observation et ma capacité à accompagner chaque personne là où elle en est.</p>
        </div>
        <div class="col-3">
        </div>

              <div class="mt-5 col-8 background-formation">
                <h3 class="text-center">Ma Méthode : La Science au service du Vivant</h3>
                  <p class="mt-4">Pour vous aider à vous alléger, je m'appuie sur une approche rigoureuse et globale : les Neurosciences appliquées et la méthode des 5 Facteurs du Vivant du Dr Yann Rougier. </p>
                  <p>Je me suis formée spécifiquement pour vous offrir un accompagnement de haute qualité :</li>
                  <p >Conseillère en Nutrition & Diététique (École 5.3 - Dr Yann Rougier) </p>
                  <p >Spécialiste en Gestion du stress & Préparation mentale (ECOLE ??)</p>
                  <p >Sensibilisation et prévention des Troubles Musculo-Squelettiques (TMS) : pour accompagner le corps dans le mouvement sans douleur. (ECOLE???)</p>
              </div>
       </div>

      <div class="flex justify-content-center row  my-5">
        <div class=" col-8">
          <h3 class="text-center">Ma Vision : La "Médecine du Corps"</h3>
          <p class="mt-2">
            Tout ce qui est vivant, respire, se nourrit, se protège, pense et ressent. Lorsque l'un de ces piliers vacille, c'est tout l'édifice qui s'affaiblit (fatigue, kilos, stress..).
          <p> <strong>Mon secret ? </strong> Vous apprendre à activer votre capacité naturelle d'auto-guérison. En comprenant comment vos pensées influencent vos émotions, puis vos comportements, nous travaillons ensemble sur la source du déséquilibre. </p>
          <p><strong>Ma mission :</strong> Vous aider à retrouver cette harmonie corps-esprit, pour que la joie de vivre et la vitalité soient vos compagnes quotidiennes.</p>
          </p>
        </div>
      </div>

      <div class="container text-center my-5">
        <%= link_to "En savoir plus", prestations_path, class:"button-orange" %>
      </div>
  </div>

</div>
