<div>
  <div>
    <%= image_tag "b-home2.jpeg", alt: "b-home", class:"banner"%>
    <h1 class="banner-text">"Donne à tes rêves la force d'exister"</h1>
  </div>

  <div class="container my-3">
    <h2 class="text-center" >Mon histoire</h2>
      <div class="row justify-content-between my-4">
        <div class="col-4">
          <%=image_tag "b-home.jpeg", alt: "b-home", class:"img-thumbnail"%>
        </div>
        <div class="col-8">
          <p class="text-align-right">
          Les Satires et les Épîtres d’Horace portent le nom de Sermones. Voltaire a appelé Discours en vers des poèmes philosophiques d’une étendue restreinte que jusque-là on nommait essais, et qui n’ont pas la savante composition d’un ouvrage régulier.
          Au xvie siècle, le titre de discours était journellement donné à des opuscules et brochures de circonstance, dont plusieurs ont aujourd’hui un grand intérêt de curiosité bibliographique. Des épithètes explicatives s’y ajoutaient le plus souvent pour mettre en relief le sujet ou le caractère de récrit : Discours ample et très-véritable, Discours au vray, Discours admirable, Discours certains, Discours déplorable, Discours facétieux, joyeux, très-récréatif, Discours merveilleux, merveillable, miraculeux, épouvantable, Discours non plus mélancolique que divers, etc.
          Du xvie siècle jusqu’à aujourd’hui, le titre de « discours » est resté attaché à quelques ouvrages d’une grande portée philosophique, religieuse ou politique, ou d’une belle exécution littéraire. Tels furent : Discours de la servitude volontaire, de La Boétie, Discours de la méthode, de Descartes ; Discours sur la première décade de Tite-Live de Machiavel ; Discours sur l'Histoire universelle, de Bossuet ; Discours sur l'origine et les fondements de l'inégalité parmi les hommes et Discours sur les sciences et les arts, de Rousseau ; Discours préliminaire de l’Encyclopédie, de d’Alembert ; Discours sur les révolutions du Globe, de Cuvier ; Discours à la </p>
        </div>
      </div>
      <div class="text-center my-5">
        <h2 >Mon parcours & mes formations</h2>
          <div class="row justify-content-center my-4">
            <div class="col-6  my-5 p-4">
              <p>Mon parcours s'est fait de blalblalbalbal</p>
            </div>
            <div class="col-6 card card-formation">
              <div class="card-body">
                <p>
                2025 : Tennnnnnnnnnnnnnnnnn........
                </p>
                <p>
                2025 : ........
                </p>
                <p>
                2025 : ........
                </p>
                <p>
                2025 : ........
                </p>
              </div>
            </div>
          </div>
      </div>

      <div class="text-center my-5">
        <h2>Ce que j'ai à coeur de vous transmettre</h2>
        <p class="my-4">
          Les Satires et les Épîtres d’Horace portent le nom de Sermones. Voltaire a appelé Discours en vers des poèmes philosophiques d’une étendue restreinte que jusque-là on nommait essais, et qui n’ont pas la savante composition d’un ouvrage régulier.
          Au xvie siècle, le titre de discours était journellement donné à des opuscules et brochures de circonstance, dont plusieurs ont aujourd’hui un grand intérêt de curiosité bibliographique. Des épithètes explicatives s’y ajoutaient le plus souvent pour mettre en relief le sujet ou le caractère de récrit : Discours ample et très-véritable, Discours au vray, Discours admirable, Discours certains, Discours déplorable, Discours facétieux, joyeux, très-récréatif, Discours merveilleux, merveillable, miraculeux, épouvantable, Discours non plus mélancolique que divers, etc.
          Du xvie siècle jusqu’à aujourd’hui, le titre de « discours » est resté attaché à quelques ouvrages d’une gra
        </p>
      </div>

      <div class="container text-center my-5">
        <%= link_to "Découvrir mon offre", prestations_path, class:"button-orange" %>
      </div>
  </div>

</div>
