<div class="container">
  <h2 class="my-5 text-center">Prendre rendez-vous</h2>
    <div class="row">
      <div class="col-6 my-3" >
        <h3> Osez la démarche !</h3>
         <h4>Je souhaite être accompagné.e : </h4>
        <p> Prendre rendez-vous, c’est déjà faire un premier pas vers vous-même. Devenez acteur.trice de votre santé !
            Réservez l'appel découverte, il est gratuit et nous permettra de faire le point sur votre situation et de répondre à toutes vos interrogations.</p>

      <div class="my-5">
        <h4>Vous êtes sûr.e de vous ?</h4>
        <p> Vous pouvez d'ores et déjà réserver votre rendez-vous pour effectuer le Bilan initial.
        </p>

         <div class="col-8 my-5">
            <p><%= link_to "Je me lance !", "https://calendly.com/luminescence-rdv/bon-cadeau", class: "text-decoration-none button-orange mt-4"%></p>
         </div>
      </div>
    </div>
    </div>
</div>


<div class="mt-5 banner">
  <%= image_tag "prdrdv-img.jpeg", alt: "b-prendrerdv", class:"banner-rdv"%>
    <h1 class="banner-rdv-text">"Le meilleur moment pour passer à l'action, c'est maintenant !"</h1>
</div>
