<div class="container">
  <h2 class="my-5 text-center">Ma démarche d'accompagnement</h2>
    <div class="row dflex justify-content-center">
      <div class="col-8">
       <h3 class="mb-3 text-center">Prévention, Équilibre & Bien-être</h3>
         <p class="text-center">Je vous accompagne exclusivement dans une démarche de prévention et de mieux-être.</p>
          <p class="text-center"> <strong> Note importante :</strong> Mon approche ne remplace pas un suivi médical. Je ne pose aucun diagnostic et ne prends pas en charge de pathologies. Si votre situation le nécessite, nous pourrons envisager un accompagnement en coordination avec votre équipe pluridisciplinaire.
          </p>
      </div>
    </div>

    <div class="my-5">
      <div class="background my-4">
        <h4 class="text-center mb-3">Etape 1 : Le rendez-vous découverte</h4>
          <p class="text-center"> <strong>Gratuit  |  15 à 20 minutes  |  Par téléphone </strong> </p>
          <p>Une étape essentielle pour faire connaissance et s'assurer que mon approche correspond à vos besoins.</p>
          <li>Échange sur vos problématiques et vos objectifs.</li>
           <li>Explication de ma méthodologie et des tarifs.</li>
            <li>Validation mutuelle de la faisabilité de l'accompagnement.</li>
          <li> <strong>Modalités : </strong>  Suite à cet appel, la prise de rendez-vous pour le bilan initial se fait par téléphone ou par email. Le règlement s'effectue à la réservation du créneau.</li>
      </div>


    <div class="background  my-4 ">
        <h4 class="text-center mb-3">Etape 2 : Le bilan initial</h4>
          <p class="text-center"> <strong> 40 €  |  30 à 45 minutes  |  Visio ou Présentiel </strong></p>
          <p> Ce premier rendez-vous approfondi permet de poser les fondations de notre travail ensemble. </p>
         <li>Analyse détaillée de vos attentes.</li>
         <li>Mise en place d'un cadre d'accompagnement clair.</li>
         <li><strong>Vos outils : </strong> Vous repartez avec un carnet alimentaire, un plan d'action concret et des objectifs réalistes.
          </li>
      </div>

      <div class="background my-4">
          <h4 class="text-center mb-3">Etape 3 : Programme d'accompagnement personnalisé - 3 mois </h4>
            <p class="text-center" > <strong>120 € / mois  |  Durée : 3 mois </strong> </p>
            <p>Un suivi régulier et motivant pour ancrer des changements durables.
                <li class="mx-3">Suivi flexible : 15 min chaque semaine ou 30 min tous les 15 jours (Visio ou téléphone).</li>
                <li class="mx-3">Expertise : Analyse de votre carnet alimentaire et ajustements personnalisés.</li>
                <li class="mx-3">Proximité : Soutien illimité par WhatsApp ou SMS pour répondre à vos doutes en temps réel.</li>
                <li class="mx-3"> <strong>Objectifs : </strong> Regagner en énergie, apaiser votre relation à l'alimentation, réduire le stress et retrouver confiance.</li>
      </div>
    </div>



  <div class="row d-flex justify-content-center">
    <h3 class="mb-3 mt-3 text-center"> Que se passe t-il à la fin des 3 premiers mois ?</h3>
      <div class="col-10">
        <p> <strong>Vos objectifs sont atteints,</strong> vous vous sentez prêt.e à continuer en autonomie : c’est super !
        Mon accompagnement s’arrêtera ici mais n’hésitez pas à me donner des nouvelles de votre évolution, ce sera toujours avec plaisir.</p>
        <p><strong>Vous sentez déjà un changement mais vous voulez continuer l’accompagnement encore un peu ? </strong> Vous aurez la possibilité de prendre un mois de suivi en plus au tarif de 150 euros/mois, sans engagement.  Cette formule est renouvelable autant de fois que nécéssaire.
        </p>
        <p class=mb-5> <strong>Vous voyez l’effet positif de l’accompagnement et vous souhaitez le prolonger pour continuer d’ancrer votre mieux être durablement ? </strong> Vous pouvez renouveler l'accompagnement pour 3 mois de plus.</p>
      </div>
  </div>


       <div class="container text-center mt-3">
        <%= link_to "Je souhaite prendre rendez-vous", prendrerdv_path, class:"button-orange" %>
      </div>
    </div>

    <div class="background-col row my-5 ">
      <div class="col-8">
        <h3 class="pt-5 d-flex justify-content-center mb-3">Ateliers collectifs</h3>
        <p class="text-center">Je propose des sessions thématiques pour approfondir vos connaissances
         <ul class="ms-4 text-start pstrong"> <strong>1. Retrouver l’équilibre dans son assiette :</strong>
         <p class="text-start">Comprendre les bases de l’alimentation équilibrée, sans frustration ni culpabilité, et apprendre à composer une assiette santé adaptée à son quotidien.</p>
</ul>
        <ul class="ms-4 text-start pstrong"><strong>2. Apaiser le stress pour retrouver énergie et clarté</strong>
        <p  class="text-startr">Un atelier centré sur la compréhension du stress, son impact sur le corps et l’alimentation, et la découverte d’outils simples de respiration pour apaiser le système nerveux.</p>
</ul>
        <ul class="ms-4 text-start pstrong"><strong>3. Retrouver une énergie stable tout au long de la journée </strong>
        <p  class="text-start">Un atelier pour comprendre le rôle des glucides, éviter les coups de fatigue et stabiliser son énergie grâce à l’alimentation et à la respiration.</p>
</ul>

        <p class="mt-4 text-center"> <strong> Tarif dégressif - 30€/personne| 1H30 | Groupes de 5 à 15 personnes | Présentiel sur Toulouse et alentours</strong></p>
        <p class="ms-4 text-center pb-5">Les thématiques de ces ateliers peuvent varier selon les demandes et le besoin du groupe : décryptage d'étiquettes, travail de respiration, découvrir les 5 facteurs du vivants etc... N'hésitez pas à m'écrire pour en parler !</p>
      </div>
        <div class="col-4 mt-3">
          <%=image_tag "vero1.jpg", alt: "b-home", class:"imgV1"%>
        </div>
      </div>
</div>
