<div class="container">
  <h1 class="my-5">Mes prestations & Tarifs</h1>
    <div class="row">
      <div class="col-6">
       <h3>Accompagnement sur 3 mois</h3>
        <h4 class="text-center">120 euros/mois - en visio ou présentiel au choix</h4>
         <p> Mon accompagnement se fonde autour de trois piliers essentiels : la nutrition, la respiration et l’activité physique afin de renforcer votre bien être au quotidien.
            Chaque pilier pourra être plus ou moins activé et travaillé selon votre besoin.   Je suis également convaincue que travailler sur soi demander de l’engagement et du temps.  Je ne peux pas vous promettre que tout ira mieux du jour au lendemain...mais en revanche, avec moi, l’objectif sera d’aller chaque jour un peu mieux, à son rythme pour ancrer un changement durable et viable.   C’est pourquoi je ne propose aujuord’hui qu’une seule formule.</p>
      </div>
    </div>
    <div class="row my-5 d-flex justify-content-evenly">
      <div class="card card-formation col-4">
       <h4>Etape 1</h4>
      </div>
      <div class="card card-formation col-4">
       <h4>Etape 1</h4>
      </div>
      <div class="card card-formation col-4">
         <h4>Etape 1</h4>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-4"></div>
      <div class="col-8">
        <h3 class="d-flex justify-content-end"> Que se passe t-il à la fin des 3 premiers mois ?</h3>
        <p>  Que se passe t-il à la fin des 3 mois ?   Vos objectifs sont atteints, vous vous sentez prêt.e à continuer en autonomie : c’est super !! Mon accompagnement s’arrêtera ici mais n’hésitez pas à me donner des nouvelles de votre évolution, ce sera toujours avec plaisir.  Vous sentez déjà un changement mais vous voulez continuer l’accompagnement encore un peu ?  Vous aurez la possibilité de prendre un mois de suivi en plus au tarif de 150 euros/mois, sans engagement.  Cette formule est renouvelable autant de fois que nécéssaire mais dans ce cas, je vous conseillerai de prendre la formule suivante.  A vous de jauger !  Vous voyez l’effet positif de l’accompagnement et vous souhaitez le renouveler pour continuer d’ancrer votre mieux être ? En reprenant une prestation de 3 mois , le tarif passe à 100 euros/mois avec engagement sur les trois prochains mois.
        </p>
       </div>

      <div class="container text-center my-5">
        <%= link_to "Je souhaite prendre rendez-vous", prendrerdv_path, class:"button-orange" %>
      </div>

    </div>
</div>
