<div class="container">
  <h2 class="my-5 text-center">Ma démarche d'accompagnement</h2>
    <div class="row dflex justify-content-center">
      <div class="col-8">
       <h3 class="mb-3 text-center">Prévention, Équilibre & Bien-être</h3>
         <p class="text-center">Je vous accompagne exclusivement dans une démarche de prévention et de mieux-être.</p>
          <p class="text-center"> <strong> Note importante :</strong> Mon approche ne remplace pas un suivi médical. Je ne pose aucun diagnostic et ne prends pas en charge de pathologies. Si votre situation le nécessite, nous pourrons envisager un accompagnement en coordination avec votre équipe pluridisciplinaire.
          </p>
      </div>
    </div>

    <div class="my-5">
      <div class="background my-4">
        <h4 class="text-center mb-3">Etape 1 : Le rendez-vous découverte</h4>
          <p class="text-center"> <strong>Gratuit  |  15 à 20 minutes  |  Par téléphone </strong> </p>
          <p>Cet appel a pour but d'échanger sur le contenu de l’accompagnement, son déroulement, les problématiques à travailler etc
            Je m'assure que je suis en mesure de vous accompagner selon votre problématiques et vos envies.
            Si oui et si vous souhaitez aller plus loin  alors nous pourrons convenir d'un créneau pour effectuer le bilan initial.</p>
      </div>

    <div class="background  my-4 ">
        <h4 class="text-center mb-3">Etape 2 : Le bilan initial</h4>
          <p class="text-center"> <strong> 40 €  |  30 à 45 minutes  |  Visio ou Présentiel </strong></p>
          <p>  Ce premier rendez-vous permet : de faire connaissance, d’échanger sur vos attentes, de poser un cadre clair, de vérifier si un accompagnement est adapté.</p>
          <p> Vous repartez avec un carnet alimentaire, un plan d’action, des objectifs réalistes que nous aurons fixés ensemble, et un prochain rendez-vous pour bénéficier d'un suivi régulier motivant.</p>
      </div>

      <div class="background my-4">
          <h4 class="text-center mb-3">Etape 3 : Programme d'accompagnement personnalisé - 3 mois </h4>
            <p class="text-center" > <strong>120 € / mois  |  Durée : 3 mois </strong> </p>
            <p>Ce programme comprend :
                <li class="mx-3">Un suivi hebdomadaire de 15 minutes ou 30 minutes tous les 15 jours</li>
                <li class="mx-3">Rendez-vous en visio ou par téléphone</li>
                <li class="mx-3">Analyse et accompagnement via un carnet alimentaire</li>
                <li class="mx-3">Soutien illimité par WhatsApp ou SMS</li> </p>
              <p> <strong>Objectifs :</strong>
                <li class="mx-3">retrouver de l’énergie,</li>
                <li class="mx-3">apaiser la relation à l’alimentation,</li>
                <li class="mx-3">réduire le stress,</li>
                <li class="mx-3">retrouver confiance et élan de vie</li> </p>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-3"></div>
      <div class="col-9">
        <h3 class="d-flex justify-content-end mb-3"> Que se passe t-il à la fin des 3 premiers mois ?</h3>
        <p> Vos objectifs sont atteints, vous vous sentez prêt.e à continuer en autonomie : c’est super !
        Mon accompagnement s’arrêtera ici mais n’hésitez pas à me donner des nouvelles de votre évolution, ce sera toujours avec plaisir.</p>
        <p>Vous sentez déjà un changement mais vous voulez continuer l’accompagnement encore un peu ? Vous aurez la possibilité de prendre un mois de suivi en plus au tarif de 150 euros/mois, sans engagement.  Cette formule est renouvelable autant de fois que nécéssaire mais dans ce cas, je vous conseillerai de prendre la formule suivante. A vous de juger !
        </p>
        <p class=mb-5>Vous voyez l’effet positif de l’accompagnement et vous souhaitez le renouveler pour continuer d’ancrer votre mieux être ? Vous pouvez renouveler l'accompagnemt de 3 mois.</p>
       </div>

       <div class="container text-center my-5">
        <%= link_to "Je souhaite prendre rendez-vous", prendrerdv_path, class:"button-orange" %>
      </div>
    </div>

    <div class="background-col my-5 row">
      <div class="col-8">
        <h3 class="pt-5 d-flex justify-content-center mb-3">Ateliers collectifs</h3>
        <p class="d-flex justify-content-center">Je propose des sessions thématiques pour approfondir vos connaissances :
         <li class="d-flex justify-content-center"> L’assiette santé : Les bases d'une alimentation équilibrée.
</li>
        <li class="d-flex justify-content-center">Lecture d'étiquettes : Apprendre à décrypter les produits industriels.
</li>
        <li class="d-flex justify-content-center">Gestion du stress : Techniques de respiration et nutrition.
</li>
        <li class="d-flex justify-content-center">Comprendre les glucides : Pour une énergie stable toute la journée.</li>
        </p>
        <p class="d-flex justify-content-center pb-5"> <strong>Apprendre ensemble dans la convivialité | Petits groupes | Présentiel sur Toulouse et alentours</strong></p>
      </div>
        <div class="col-4">
          <%=image_tag "vero1.jpg", alt: "b-home", class:"imgV1"%>
        </div>
      </div>
</div>
