.footer {
  background:$green;
  height: 70px;
  position: sticky


}

.footer-img {
  width: 100px;
  background-size: cover;
  height: 70px;
  width: 100px;

}


.footer-text{
  color: $light-yellow;
  text-decoration: none;
  align-self: center;
  color:$light-yellow;


    &:hover{
      color: $orange;

    }
}
