.navbar-lewagon {
  background:$green;
  display:flex;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  background-size: cover;
  height: 70px;
  width: 100px;
  margin-left: 10%;
}


.navbar-home-fixed {
  position: fixed;
  width: 100%;
}

.nav-text{
  color: $light-yellow;
  display: flex;

    &:hover{
      color: $orange;

    }
}

.nav-button-orange {
  background-color: $orange;
  color: $green;
  border-radius: 25px;
  padding-top: 5%;
  padding-bottom: 5%;


    &:hover{
      color: $orange;
      background-color: $light-yellow;
    }
}
