.button-orange {
  background-color: $orange;
  color: $green;
  border-radius: 25px;
  padding-top: 5%;
  padding-bottom: 5%;
  text-decoration: none;
  padding: 20px;


    &:hover{
      color: $orange;
      background-color: $light-yellow;
      text-decoration: none;

    }
}

.button-form {
  background-color: $green;
  color: $light-yellow;
  border-radius: 25px;
  padding: 10px;
  text-decoration: none;


    &:hover{
      color: $orange;
      background-color: $light-yellow;
      text-decoration: none;

    }
}
