.card-formation {
  border-color: $green;
  border-radius: 20px;
}

.card-formation2 {
  border-color: $orange;
  border-radius: 20px;
}

.card-presta {
  border-color: $green;
  background-color: $light-yellow;
  border-radius: 30px;
  padding: 2%;
  margin-left: 25%;
  margin-right: 25%;
}

.card-formulaire {
  border-color: $green;
  border-radius: 10px;
  width: auto;

}

.background {
  background-color: $green-light;
  border-color: $green;
  border-radius: 30px;
  padding: 2%;
  margin-left: 10%;
  margin-right: 10%;

}

.background-col {
  background-color: $green-light;
  border-color: $green;
  border-radius: 20px;
  padding: 0,5%;
  margin-left: 5%;
  margin-right: 5%;

}

.background-formation {
  background-color: $green-light;
  border-color: $green;
  border-radius: 20px;
  padding: 3%;
  margin-left: 5%;
  margin-right: 5%;

}

.imgV {
border-radius: 100%;
width: 300px;
display: flex;
justify-content: end;

}

.imgV1 {
height: 400px;
width: 300px;
display: flex;
justify-content: center;

}
